<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%-include('header')%>
    <h3>About Us</h3>
    <hr>
   <h4> Welcome to My CA: Your Personal Finance Manager</h4>

My CA is designed to simplify your financial management, helping you track expenses, income, and make informed decisions.
<hr>
<h4>Meet the Developer</h4>
<h3>Rajesh Yadav</h3>

<b>Rajesh Yadav</b> is a third-year student at IIEST Shibpur. Combining academic knowledge with practical experience, he created My CA to make personal finance management accessible to everyone.

<h5>Vision and Mission</h5>

<b>Rajesh</b> aims to provide a simple, reliable, and efficient tool for managing personal finances. My CA helps you take control of your financial future with ease.

<h5>Commitment to Excellence</h5>

Rajesh continuously improves My CA based on user feedback and the latest trends, ensuring it meets your evolving needs.

<h3>Contact Information</h3>

<a href="mailto:therajesh8769@gmail.com">Email</a>
<a href="https://www.linkedin.com/in/hyraj26?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">LinkedIn</a>

<h6>Thank you for choosing My CA. We hope it helps you achieve your financial goals!</h6>
    
    
 <%-include('footer')%>
   <script src="/main.js"></script>
</body>
</html>