<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%-include('header')%>
    <p>
       <h4> Terms and Conditions</h4>
<h6>Effective Date: June 10, 2024</h6>
<hr>
<h5>1. Introduction</h5>
Welcome to My CA, your personal finance manager. These Terms and Conditions govern your use of our application and services. By using our app, you agree to comply with and be bound by these Terms and Conditions. Please read them carefully.

<h5>2. Use of Services</h5>
Eligibility: You must be at least 18 years old to use our services. By using our app, you represent that you meet this age requirement.
Account Registration: You must create an account to use certain features of our app. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
Accuracy of Information: You agree to provide accurate, current, and complete information when registering for an account and using our services. You are responsible for updating your information as necessary.
Permitted Use: You may use our app only for lawful purposes and in accordance with these Terms and Conditions. You agree not to use our app in any way that could damage, disable, overburden, or impair our services or interfere with any other party's use and enjoyment of our services.
<h5>3. Intellectual Property</h5>
Ownership: The app and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio) are owned by My CA, its licensors, or other providers of such material and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
License: We grant you a limited, non-exclusive, non-transferable, and revocable license to access and use our app for your personal, non-commercial use. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our app, except as automatically cached by your web browser for display purposes.
<h5>4. User Content</h5>
Responsibility: You are solely responsible for any content you submit, post, or display on or through our app. You grant us a non-exclusive, worldwide, royalty-free license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content in connection with providing and promoting our services.
Prohibited Content: You agree not to submit, post, or display any content that is unlawful, defamatory, obscene, harassing, threatening, infringing on intellectual property rights, invasive of privacy, or otherwise objectionable.
<h5>5. Privacy</h5>
Your use of our app is also governed by our Privacy Policy, which can be found in 'privacy and Policies'. By using our app, you consent to the collection and use of your information as outlined in the Privacy Policy.

<h5>6. Disclaimers</h5>
<h6>No Warranty:</h6> Our app and services are provided "as is" and "as available," without any warranties of any kind, either express or implied. We do not warrant that our app will be uninterrupted, error-free, or free of viruses or other harmful components.
Limitation of Liability: To the fullest extent permitted by law, My CA shall not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your use or inability to use our app; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein; (iii) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our app by any third party; (iv) any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through our app.
<h5>7. Indemnification</h5>
You agree to indemnify, defend, and hold harmless My CA, its affiliates, and their respective
    </p>
    <%-include('footer')%>
    <script src="/main.js"></script>
</body>
</html>